{% extends 'base.html' %}

{% block upload_file %}

    <div class="container h-15">
        <div class="row h-10 align-items-center justify-content-center text-center">
        </div>
        <div class="row h-10 align-items-center justify-content-center text-center">
            <hr>
        </div>
        <div class="row h-15 align-items-center justify-content-center text-center">
            <p class="text-black-50 font-weight-light mb-5"> Please select the json file which you want to upload.</p>
        </div>
        <div class="row h-25 align-items-center justify-content-center text-center">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" accept=".json" class="custom-file-input" name="uploaded_json_file"
                               id="uploaded_json_file">
                        <label class="custom-file-label" for="uploaded_json_file">Choose file</label>
                    </div>
                    <div class="input-group-append ">
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>
                </div>

            </form>

            <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>

        </div>

        <div class="row h-30 text-uppercase align-items-center justify-content-center text-center">
            {{ upload_file_result }}
        </div>

    </div>
<hr>

{% endblock %}

{% block codegen_log %}
    <div class="container h-30">
        <div class="h-100 panel panel-default">
            <div class="panel-heading h-10">
                <h4 class="panel-title">
                    Codegen log:
                </h4>
            </div>
            <div class="panel-body h-50">
                <textarea class="form-control codegen-log-area" rows="8" readonly>
                    {{ codegen_log_result }}
            </textarea>
            </div>
            <div class="h-20"></div>
            <div class="h-20">
                <button class="btn btn-primary float-md-right">Download Codegen Log</button>
                <button class="btn btn-primary float-md-right">Download Generated Jar</button>
            </div>
        </div>
    </div>
<hr>
{% endblock %}