{%- extends "base.html" %}

<div class="container">

    {% block div_uploaded_file %}

    <form action="" enctype="multipart/form-data" method="POST">
        <label for="selected_uploaded_file"> Please select the json file which you want to upload.</label>
        <input type="file" accept=".json" name="json_file" id="selected_uploaded_file">
        <input type="submit" class="btn btn-default" value="upload">
    </form>

    {% endblock %}

    
    
    {% block div_show_results %}
    <div class="div_show_results">
        Result is : <br />
        <p><code> 
            {{ result }} 
        </code></p>
    </div>
    {% endblock %}
</div>
