<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Acylic Join under Update </title>
        <meta name="description" content="This is the demo of acyclic join under update algorithm.">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="../images/favicon_io/favicon-32x32.png">
    </head>
    <body>
        <h1>AJU</h1>
        <form action="" enctype="multipart/form-data" method="POST">
            select file: <input type="file" accept=".json" name="json_file">
            <input type="submit" value="upload">
        </form>
    </body>
</html>