{%- extends "bootstrap/base.html" %}

{% block html_attribs %} 
lang="en"
{% endblock %}

{% block title %}
Acyclic Join under Updates Demo
{% endblock %}

{% block metas %}
{{ super() }}
<meta charset="UTF-8">
<meta name="description" content="This is the demo of acyclic join under update algorithm.">
<meta name="author" content="">
{% endblock %}

{% block styles %}
{{ super() }}
<!-- <link rel="icon" type="image/png" 
    href="{{ url_for('static', filename='images/favicon-32x32.png', _external=True)}}"> -->
    <link rel="icon" type="image/png" 
    href="{{ url_for('static', filename='images/favicon-192x192.png', _external=True)}}">
<link rel="stylesheet"
    href="{{url_for('.static', filename='css/aju_styles.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand">Acyclic Join under Updates Demo</a>
    </div>
    <!-- <div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">iOS</a></li>
            <li><a href="#">SVN</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Java <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
            </li>
        </ul>
    </div> -->
    </div>
</nav>
{% endblock %}


{% block content %}
{{ super() }}
    {% block div_uploaded_file %}
    {% endblock %}

    {% block div_show_results %}
    {% endblock %}
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/aju_scripts.js')}}"></script>
{{super()}}
{% endblock %}
