<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Acylic Join under Update </title>
        <meta name="description" content="This is the demo of acyclic join under update algorithm.">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png', _external=True)}}">
    </head>
    <body>
        <h1><img src="{{ url_for('static', filename='images/favicon-32x32.png', _external=True)}}" alt="AJU " /> Acylic Join under Update Algorithm Demo</h1>
        <form action="" enctype="multipart/form-data" method="POST">
            select file: <input type="file" accept=".json" name="json_file">
            <input type="submit" value="upload">
        </form>

        <div>
            Result is : <br />
            <p> {{ result }} </p>
        </div>
    </body>
</html> -->

{%- extends "base.html" %}

<div class="container">

    {% block div_uploaded_file %}

    <form action="" enctype="multipart/form-data" method="POST">
        <label for="selected_uploaded_file"> Please select the json file which you want to upload.</label>
        <input type="file" accept=".json" name="json_file" id="selected_uploaded_file">
        <input type="submit" class="btn btn-default" value="upload">
    </form>

    {% endblock %}

    
    
    {% block div_show_results %}
    <div class="div_show_results">
        Result is : <br />
        <p><code> 
            {{ result }} 
        </code></p>
    </div>
    {% endblock %}
</div>
