<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> AJU </title>
        <link rel="icon" type="image/png" href="images/favicon_io/favicon-32x32.png">
    </head>
    <body>
        <form action="" enctype="multipart/form-data" method="POST">
            <input type="file" accept=".json" name="json_file">
            <input type="submit" value="upload">
        </form>
        <div>
            Result is : <br />
            {{ result }}

        </div>

    </body>
</html>