{#{%- extends "bootstrap/base.html" %}#}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
        <title> Acyclic Join under Updates Demo </title>
    {% endblock %}

    {% block metas %}
        <meta charset="UTF-8">
        <meta name="description" content="This is the demo of acyclic join under update algorithm.">
        <meta name="author" content="">
    {% endblock %}

    {% block styles %}
        <link rel="icon" type="image/png"
              href="{{ url_for('static', filename='images/favicon-192x192.png', _external=True) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/creatives.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aju_styles.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    {% endblock %}

</head>

<body id="page-top">
{% block navbar %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger text-black-50" href="#page-top">
                <img src="{{ url_for('static', filename='images/favicon-192x192.png', _external=True) }}"
                     class="img-responsive"> Acylic Joins under Updates</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger text-black-50"
                                            href="#settings">Settings</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger text-black-50" href="#about">About</a>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger text-black-50" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<!-- Masthead-->
<header class="masthead">
    <div class="container h-25">
        <div class="row h-25 align-items-center justify-content-center text-center">
        </div>
    </div>
</header>

{% block content %}
    {% block div_uploaded_file %}
    {% endblock %}

    {% block div_show_results %}
    {% endblock %}

{% endblock %}

</body>


{% block scripts %}
    <script src="{{ url_for('static', filename='js/creatives.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aju_scripts.js') }}"></script>
{% endblock %}

</html>