{%- extends "base.html" %}


<div class="container">

    {% block div_uploaded_file %}

        <form action="" enctype="multipart/form-data" method="POST">
            <label for="selected_uploaded_file"> Please select the json file which you want to upload.</label>
            <input type="file" accept=".json" name="json_file" id="selected_uploaded_file">
            <input type="submit" class="btn btn-default" value="upload">
        </form>

    {% endblock %}



    {% block div_show_results %}
        <div class="div_show_results">

            <div id="uploaded_result_div">
                {{ uploaded_result }}
            </div>

            CodeGen log : <br/>
            <textarea id="codegen_log_textarea" rows="6" cols="70" readonly>
                {{ codegen_log_result }} 
        </textarea>

            <br/>
            <a href="download_log">Download Codegen Log</a>
            <br/>
            <a href="download_generated_jar">Download Generated Jar</a>
        </div>
        <hr/>

        <div id="result_chart" style="width: 800px;height:900px;"></div>
        <div id="tmp_text"></div>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('result_chart'));

            var option = {
                title: {
                    text: 'AJU Result Chart'
                },
                xAxis: {
                    type: 'value',
                    min: 'dataMin',
                    max: 'dataMax',
                    name: 'timestamp'
                },
                yAxis: {
                    type: 'value',
                    name: 'aggregate'
                },
                series: {
                    type: 'line',
                    data: []
                }

            };

            $(document).ready(function () {
                let socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                socket.on('result_figure_data', function (res) {
                    var line_list = res.data;
                    option.series.data.push([line_list[0].replace(/\(/g, ''), line_list[2]].replace(/\)/g, ''));
                    myChart.setOption(option);
                });
            });

        </script>

        {#        <script type="text/javascript">#}
        {##}
        {##}
        {#            // 基于准备好的dom，初始化echarts实例#}
        {#            var myChart = echarts.init(document.getElementById('result_chart'));#}
        {##}
        {#            // 指定图表的配置项和数据#}
        {#            var option = {#}
        {#                title: {#}
        {#                    text: 'AJU Result Chart'#}
        {#                },#}
        {#                tooltip: {},#}
        {#                legend: {#}
        {#                    top: '8%',#}
        {#                    data: []#}
        {#                },#}
        {#                xAxis: [#}
        {#                    {#}
        {#                        gridIndex: 0,#}
        {#                        type: 'value',#}
        {#                        min: 'dataMin',#}
        {#                        max: 'dataMax',#}
        {#                        name: 'timestamp'#}
        {#                    },#}
        {#                    {#}
        {#                        gridIndex: 1,#}
        {#                        type: 'value',#}
        {#                        min: 'dataMin',#}
        {#                        max: 'dataMax',#}
        {#                        name: 'timestamp'#}
        {#                    },#}
        {#                    {#}
        {#                        gridIndex: 2,#}
        {#                        type: 'value',#}
        {#                        min: 'dataMin',#}
        {#                        max: 'dataMax',#}
        {#                        name: 'timestamp'#}
        {#                    },#}
        {#                    {#}
        {#                        gridIndex: 3,#}
        {#                        type: 'value',#}
        {#                        min: 'dataMin',#}
        {#                        max: 'dataMax',#}
        {#                        name: 'timestamp'#}
        {#                    }#}
        {##}
        {#                ],#}
        {#                yAxis: [#}
        {#                    {#}
        {#                        gridIndex: 0,#}
        {#                        type: 'value',#}
        {#                        name: 'aggregate'#}
        {#                    },#}
        {#                    {#}
        {#                        gridIndex: 1,#}
        {#                        type: 'value',#}
        {#                        name: 'aggregate'#}
        {#                    },#}
        {#                    {#}
        {#                        gridIndex: 2,#}
        {#                        type: 'value',#}
        {#                        name: 'aggregate'#}
        {#                    },#}
        {#                    {#}
        {#                        gridIndex: 3,#}
        {#                        type: 'value',#}
        {#                        name: 'aggregate'#}
        {#                    }#}
        {#                ],#}
        {#                grid: [#}
        {#                    {#}
        {#                        top: '15%',#}
        {#                        bottom: '70%'#}
        {#                    },#}
        {#                    {#}
        {#                        top: '35%',#}
        {#                        bottom: '50%',#}
        {##}
        {#                    },#}
        {#                    {#}
        {#                        top: '55%',#}
        {#                        bottom: '30%'#}
        {#                    },#}
        {#                    {#}
        {#                        top: '75%',#}
        {#                        bottom: '10%'#}
        {#                    }#}
        {#                ],#}
        {#                series: [#}
        {#                    {#}
        {#                        name: '',#}
        {#                        data: [],#}
        {#                        xAxisIndex: 0,#}
        {#                        yAxisIndex: 0,#}
        {#                        type: 'line'#}
        {#                    },#}
        {#                    {#}
        {#                        name: '',#}
        {#                        data: [],#}
        {#                        xAxisIndex: 1,#}
        {#                        yAxisIndex: 1,#}
        {#                        type: 'line'#}
        {#                    },#}
        {#                    {#}
        {#                        name: '',#}
        {#                        data: [],#}
        {#                        xAxisIndex: 2,#}
        {#                        yAxisIndex: 2,#}
        {#                        type: 'line'#}
        {#                    },#}
        {#                    {#}
        {#                        name: '',#}
        {#                        data: [],#}
        {#                        xAxisIndex: 3,#}
        {#                        yAxisIndex: 3,#}
        {#                        type: 'line'#}
        {#                    }#}
        {#                ]#}
        {#            };#}
        {##}
        {##}
        {#            function Queue() {#}
        {#                this.elements = [];#}
        {#            }#}
        {##}
        {#            Queue.prototype.enqueue = function (e) {#}
        {#                this.elements.push(e);#}
        {#            }#}
        {#            Queue.prototype.dequeue = function () {#}
        {#                return this.elements.shift();#}
        {#            }#}
        {#            Queue.prototype.isEmpty = function () {#}
        {#                return this.elements.length == 0;#}
        {#            }#}
        {#            Queue.prototype.peek = function () {#}
        {#                return !this.isEmpty() ? this.elements[0] : undefined;#}
        {#            }#}
        {#            Queue.prototype.length = function () {#}
        {#                return this.elements.length;#}
        {#            }#}
        {#            Queue.prototype.indexOf = function (idx) {#}
        {#                return this.elements[idx];#}
        {#            }#}
        {#            Queue.prototype.setIndexOf = function (idx, data) {#}
        {#                return this.elements[idx] = data;#}
        {#            }#}
        {##}
        {##}
        {#            $(document).ready(function () {#}
        {#                let socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);#}
        {#                var old_key = -1;#}
        {#                var q = new Queue();#}
        {#                let q_max_length = 4;#}
        {#                socket.on('result_figure_data', function (res) {#}
        {#                    var line_list = res.data;#}
        {#                    var i = 0;#}
        {##}
        {#                    if ((line_list[0]) == old_key) {#}
        {#                        console.log('key没变  q.length = ' + q.length());#}
        {#                        // timestamp, aggregate#}
        {#                        option.series[0].data.push([line_list[8], line_list[3]]);#}
        {#                        q.setIndexOf(q.length() - 1, {name: 'orderkey: ' + line_list[0], data: option.series[0].data});#}
        {#                        myChart.setOption(option);#}
        {#                        old_key = line_list[0];#}
        {#                    } else {#}
        {#                        console.log('key变了  q.length = ' + q.length());#}
        {#                        if (q.length() < q_max_length) {#}
        {#                            q.enqueue({name: 'orderkey: ' + line_list[0], data: [[line_list[8], line_list[3]]]});#}
        {#                        } else {#}
        {#                            q.dequeue();#}
        {#                            q.enqueue({name: 'orderkey: ' + line_list[0], data: [[line_list[8], line_list[3]]]});#}
        {#                        }#}
        {##}
        {#                        // reindex the data#}
        {#                        option.legend.data = [];#}
        {#                        for (i = 0; i < q.length(); i++) {#}
        {#                            option.series[i].data = q.indexOf(q.length() - 1 - i).data;#}
        {#                            option.series[i].name = q.indexOf(q.length() - 1 - i).name;#}
        {#                            option.legend.data.push(option.series[i].name);#}
        {#                        }#}
        {##}
        {#                        myChart.setOption(option);#}
        {#                        old_key = line_list[0];#}
        {#                    }#}
        {##}
        {#                });#}
        {#            });#}
        {##}
        {##}
        {#        </script>#}



    {% endblock %}
</div>
